/* 
  colors
    
    black #27251F
    lightgreen 
    extralightgreen #d4e9e2
    darkgreen 
*/
* {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #1e3932;
}

/* your code */

body{
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

label{
  margin: 25%;
  background-color: #f2f0eb;
}


nav{
  display: flex;
  justify-content: space-between;
  margin: 5px 25%;
  
}

h1{
  color: #f2f0eb;
}

.city-list{
  margin: 5px 25%;
  border: solid #f2f0eb;
}

.city-item{
  margin: 4%;
  text-align: end;
  background-color: #00754a;
}